{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png' %}" alt="">
    </div>

    <!-- Search Wrapper -->
    {% include 'partials/busca.html' %}

    <!-- ##### Header Area Start ##### -->
    {% include 'partials/menu.html' %}
    <!-- ##### Header Area End ##### -->

<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            {% if receitas %}
            {% for receita in receitas %}
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <a href="{% url 'receita' receita.id %}">
                    {% if receita.foto_receita == '' %}
                    <img src="{% static 'img/bg-img/foto_receita.png' %}" alt=""></img>
                    </a>
                    {% else %}
                    <a href="{% url 'receita' receita.id %}">
                    <img src="{{ receita.foto_receita.url }}" alt=""></img>
                    </a>
                    {% endif %}
                        <div class="receipe-content">
                        <a href="{% url 'receita' receita.id %}">
                            <h5>{{ receita.nome_receita }}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 col-sm-6 col-lg-4">
                <p>Receita não encontrada</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    {% include 'partials/footer.html' %}
    <!-- ##### Footer Area Start ##### -->
{% endblock %}